:root {
            --app-bg: #111827; 
            --card-bg: #1F2937; 
        }

        body {
            font-family: 'Inter', sans-serif;
            background-color: var(--app-bg);
            color: white;
            height: 100vh;
            overflow: hidden; 
        }

        .main-container {
            height: 100%;
            width: 100%;
            position: relative;
        }

       
        .page-section {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; 
            
            transition: opacity 0.5s ease-out, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
            opacity: 0;
            pointer-events: none;
            overflow-y: auto; 
            -webkit-overflow-scrolling: touch;
            transform: scale(0.9) translateX(10%); 
            padding: 1rem;
            box-sizing: border-box;
            z-index: 1; 
        }

       
        .page-section.active {
            opacity: 1;
            pointer-events: auto;
            transform: scale(1.0) translateX(0); 
            z-index: 10; 
        }
        
        
        #custom-modal:not(.hidden) {
            display: flex; 
        }

        #custom-modal.hidden {
            display: none;
        }

        #custom-modal:not(.hidden) #modal-content {
            animation: scaleIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }

        @keyframes scaleIn {
            from {
                opacity: 0;
                transform: scale(0.8);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        @media (min-width: 1024px) {
            .page-section {
                padding: 2rem;
            }
        }